<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="" >starting services ... [<font color="#00ae00">OK</font>]</h1>
    <h1 class="" >starting Cybertus site ... [<font color="#00ae00">OK</font>]</h1>
    <h1 class="" >setting up human behaviour ... [<font color="#ea3323">FAILED</font>]</h1>

    <p>
    <span class="reserved">char</span> nick[<span class="number">8</span>] = <span class="string">"{{ site.nick }}"</span>;
    </p>
    <p>
    printf(<a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">"https://{{ site.source_code.server }}/<span class="reserved">%s\n</span>"</span></a>,{{ site.source_code.nick }});
    </p>
    <p>
      printf(<a href="https://{{ site.twitter.server }}/{{ site.twitter.nick }}" target="_blank"><span class="string">"https://{{ site.twitter.server }}/<span class="reserved">%s\n</span>"</span></a>,{{ site.twitter.nick }});
    </p>
    <p>
      printf(<a href="https://{{ site.linkedin.server }}/{{ site.linkedin.nick }}" target="_blank"><span class="string">"https://{{ site.linkedin.server }}/<span class="reserved">%s\n</span>"</span></a>,{{ site.linkedin.nick }});
    </p>
  </div>
</header>

{% include menu.html %}
