<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="" >Starting services ... [<font color="#00ae00">OK</font>]
    <h1 class="" >Starting <span class="reserved">Cybertus</span> site ... [<font color="#00ae00">OK</font>]</h1>
    <h1 class="" >Setting up human behaviour ... [<font color="#ea3323">FAILED</font>]</h1>
    <br>
    <p>
    <span class="reserved">nick</span> = <span class="string">{{ site.nick }}</span>
    </p>
    <p>
    print <a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">"https://{{ site.source_code.server }}/"</span></a> + <span class="reserved">nick</span>[0]
    </p>
    <p>
      print <a href="https://{{ site.twitter.server }}/{{ site.twitter.nick }}" target="_blank"><span class="string">"https://{{ site.twitter.server }}/"</span></a> + <span class="reserved">nick</span>[1]
    </p>
    <p>
      print <a href="https://{{ site.linkedin.server }}/{{ site.linkedin.nick }}" target="_blank"><span class="string">"https://{{ site.linkedin.server }}/"</span></a> + <span class="reserved">nick</span>[2]
    </p>
  </div>
</header>

{% include menu.html %}
